<section class="paralax-footer">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="50px">
      <div class="need-more-foot" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="150px">
        <div class="set-need-foot">
          <div class="need-information">Need more Information?</div>
        </div>
        <div class="set-btn-foot">
          <a href="#" target="_blank">
            <button class="btn-footer">CONTACT US</button>
          </a>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="line-footer"></div>
      </div>
      <div class="set-logo-css" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="logo-css-foot"></div>
          <div class="content-footer">
            Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
            Praesent commodo consequat pharetra. Duis et risus accumsan sem tempus
            porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti.
          </div>
        </div>
        <div class="menu-foot" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div (click)="show()" class="text-center-foot">OUR PRODUCTS</div>
          <div routerLink="/about-us" class="text-center-foot">ABOUT US</div>
          <div routerLink="/career" class="text-center-foot">CAREER</div>
          <div routerLink="/news" class="text-center-foot" >NEWS</div>
          <div routerLink="/contact-us" class="text-center-foot">CONTACT US</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="50px">
          <div class="rantai-nimbus-foot" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="50px">
            <div class="logo-rantai-foot"></div>
            <div class="logo-nimbus-foot"></div>
          </div>
          <div class="set-follow-us" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="20px">
            <div class="follow-us">FOLLOW US:</div>
            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="30px">
              <a
                href="https://www.linkedin.com/company/rantai-official"
                target="_blank"
              >
                <div class="icon-linkedin"></div>
              </a>
              <a
                href="https://www.instagram.com/official.rantai/"
                target="_blank"
              >
                <div class="icon-ig"></div>
              </a>
              <a href="https://www.facebook.com/RantaiOfficial" target="_blank">
                <div class="icon-fb"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center stretch">
        <div class="line-footer"></div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch">
      <div class="text-last-footer">
        Copyright © 2021 Cyberindo Synergy System, All rights Reserved
      </div>
    </div>
</section>