@media only screen and (min-device-width: 360px) and (max-device-width: 480px) and (orientation: portrait){
    .paralax-contact-us{
        height: 160vh !important;
    }
    .logo-css{
        position:relative;
        left: -5px !important;
    }
    .icon-close{
        position:relative;
        left: -0px !important;
        top: 20px;
    }
    .set-contact{
        display:flex;
        justify-content: center !important;
        top: -40px;
        position:relative;
        display: block !important;
    }
    .title{
        font-size: 1.7rem !important;
        line-height: 40px !important;
        padding: 0px 30px;
    }
    .contact-us{
        padding: 0px 30px;
    }
    .pt-css{
        padding-left: 30px;
        font-size: 1rem !important;
        width: 100% !important;
    }
    .set-phone{
        padding-left: 30px;
    }
    .set-email{
        padding-left: 30px;
    }
    .set-location{
        padding-left: 30px;
    }
    .set-name{
        display: block !important;
        padding: 0px 30px;
    }
    .set-email-phone{
        display: block !important;
        padding: 0px 30px;
    }
    .set-text-area{
        padding: 0px 30px;
    }
    input{
        width: 82vw !important;
        padding-left: 10px !important;
    }
    textarea{
        width: 82vw !important;
        padding: 10px 0px 0px 10px !important;
    }
    .set-btn{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-device-width: 390px) and (max-device-width:400px) and (orientation:portrait) {
    .paralax-contact-us{
        height: 150vh !important;
    }
}

@media only screen and (min-device-width: 400px) and (max-device-width:768px) and (orientation:portrait) {
    input {
        width: 150px !important;
    }
    textarea {
        width: 320px !important;
        height: 80px !important;
    }
    .title{
        font-size: 1.5rem !important;
        line-height: 35px !important;
    }

    .set-left{
        position: relative;
        left: 70px !important;
    }
    .set-right{
        position: relative;
        right: 80px !important;
    }
    .icon-close{
        position: relative;
        left: 110px !important;
    }
    .logo-css {
        width: 180px !important;
        position: relative;
        right: 120px !important;
    }
    
}

@media only screen and (min-device-width: 769px) and (max-device-width:1024px) and (orientation:portrait) {
    input {
        width: 150px !important;
    }
    textarea {
        width: 320px !important;
        height: 80px !important;
    }
    .title{
        font-size: 1.5rem !important;
        line-height: 35px !important;
    }
    .set-left{
        position: relative;
        left: 70px !important;
    }
    .set-right{
        position: relative;
        right: 80px !important;
    }
    .icon-close{
        position: relative;
        left: 110px !important;
    }
    .logo-css {
        width: 180px !important;
        position: relative;
        right: 120px !important;
    }
    
}

@media only screen and (min-device-width: 400px) and (max-device-width:541px) and (orientation:portrait) {
    .paralax-contact-us{
        height: 145vh !important;
    }
    input {
        width: 345px !important;
    }
    textarea {
        width: 345px !important;
        height: 120px !important;
    }
    .title{
        font-size: 1.5rem !important;
        line-height: 35px !important;
    }
    .set-left{
        position: relative;
        left: 0px !important;
    }
    .set-right{
        position: relative;
        right: 0px !important;
    }
    .icon-close{
        position: relative;
        left: 10px !important;
    }
    .logo-css {
        width: 230px !important;
        position: relative;
        left: -15px !important;
    }


}


.paralax-contact-us{
    padding: 30px 0px 40px 0px;
}
.logo-css{
    width: 236px;
    height: 59px;
    content: url(../../assets/img-contact-us/img-css.svg);
    position: relative;
    right:130px;
}
.icon-close{
    content: url(../../assets/icon-contact-us/icon-close.svg);
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: relative;
    left:130px;
    top: 20px;
}
.icon-phone{
    content: url(../../assets/icon-contact-us/icon-phone.svg);
}
.icon-email{
    content: url(../../assets/icon-contact-us/icon-email.svg);
}
.icon-location{
    content: url(../../assets/icon-contact-us/Icon-location.svg);
}
.contact-us{
    font-size: 1rem;
    color: #091C34;
}
.title{
    font-size: 3.125rem;
    color: #091C34;
    width: 391px;
    font-weight: bold;
    line-height: 55px;
}
.pt-css{
    color: #0082C8;
    font-size:1.25rem;
}
.text-phone-email{
    font-size: 1rem;
    color: #091C34;
}
.text-vinilon{
    font-size: 1rem;
    color: #091C34;
    width: 275px;
}
label{
    font-size: 1rem;
    color: #091C34;
    padding-left: 5px;
}
input{
    width: 265px;
    height: 42px;
    background-color: #F7F9FB;
    border: 1px solid #091C34;
    border-radius: 4px;
    opacity: 1;
    padding-left: 10px;
}
textarea{
    width: 550px;
    height: 132px;
    background-color: #F7F9FB;
    border: 1px solid #091C34;
    border-radius: 4px;
    opacity: 1;
    padding: 10px 0px 0px 10px;
}
.btn-submit{
    width: 214px;
    height: 42px;
    border: 1px solid #0082C8;
    background-color: #0082C8;
    border-radius: 4px;
    opacity: 1;
    color: #FFFFFF;
    font-size: 0.75rem;
}
.set-right{
    position: relative;
    top: 15px;
}