<section class="paralax-contact-us">
  <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="70px">
    <div class="set-logo-css" fxLayout="row" fxLayoutAlign="space-around stretch">
      <div class="logo-css"></div>
      <div class="icon-close" routerLink="/home"></div>
    </div>

    <div class="set-contact" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
      <div class="set-left" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="70px">
        <div
          fxLayout="column"
          fxLayoutAlign="center stretch"
          fxLayoutGap="20px"
        >
          <div class="contact-us">CONTACT US</div>
          <div class="title">
            Don't Hesitate to Contact Us for More Information
          </div>
          <div class="pt-css">PT Cyberindo Sinergi Sistem</div>
          <div class="set-phone" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <div class="icon-phone"></div>
            <div class="text-phone-email">021 000 00 0000</div>
          </div>
          <div class="set-email" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <div class="icon-email"></div>
            <div class="text-phone-email">emailemail@mail.com</div>
          </div>
          <div class="set-location" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="icon-location"></div>
            <div class="text-vinilon">
              Vinilon Building Jl. Raden Saleh Raya No.kav 13-17, RT.1/RW.2,
              Kenari, Kec. Senen, Kota Jakarta Pusat, DKI Jakarta 10430
            </div>
          </div>
        </div>
      </div>
      <div
        class="set-right"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="10px"
      >
        <div class="set-name" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <label>Complete Name*:</label>
            <input type="text" />
          </div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <label>Company*:</label>
            <input type="text"/>
          </div>
        </div>
        <div class="set-email-phone" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <label>Email*:</label>
            <input type="email" />
          </div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <label>Phone*:</label>
            <input type="number"/>
          </div>
        </div>
        <div class="set-text-area" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <label>Message*:</label>
          <textarea></textarea>
        </div>
        <div class="set-btn">
          <button class="btn-submit">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
</section>