<app-header [abouttext]="aboutHeader"></app-header>

<section id="tabsNav" class="paralax-tab">
  <div class="tabs" fxLayout="row" fxLayoutAlign="center center">
    <a href="#overview">
      <button class="title-tab">Overview</button>
    </a>
    <a href="#vision">
      <button class="title-tab">Vision & Mission</button>
    </a>
    <a href="#ourteam">
      <button class="title-tab">Our Team</button>
    </a>
  </div>
</section>

<section id="overview" class="paralax-section1">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="40px">
      <div class="overview">OVERVIEW</div>
      <div class="our-company">Our Company</div>
      <div fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="40px">
        <div class="content-s1">
          Incepted in 2019, PT Cyberindo Sinergi Sistem is a Software
          Development and Information Technology providing competitively priced
          to companies in Indonesia. PT Cyberindo Sinergi Sistem providing your
          company with a mobile and web-based solution to integrate its core
          business processes. We have different products to meet your
          requirements. We provide the optimum and broad solutions for your
          organization.
        </div>
        <div class="content-s1">
          PT Cyberindo Sinergi Sistem began its business operation as a software
          solution providing company in January 2019. We have been enabling
          companies to transform their business performance and processes.
          Cyberindo Technologies focuses exclusively on high-quality,
          integrated, intuitive, easily manageable, and cost-effective system
          development and implementation of multiple types of products. Its
          business applications boast impressive scalability and reliability.
        </div>
      </div>
      <div class="img-left-m">
        <div class="img-left-s1"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="40px">
        <div class="content-s1">
          IT has extensive experience that was acquired through many years of
          engagement in the industry. Cyberindo Sinergi Sistem specializes in
          innovating software solutions for small and medium-sized enterprises
          (SMEs). Cyberindo delivers much more than just technology, the
          objective is to fully understand business processes and to deliver
          significant added value by developing solutions that dramatically
          reduce costs and enhance ability to adapt to changes in markets.
          Cyberindo services and solutions are diversified. Merging them all
          brings forward a unique and valuable.
        </div>
        <div class="content-s1">
          offering in business enhancement. People involved here are young
          qualified graduates and professionals from renowned universities
          across the nation. We bring forward knowledge and experience and
          utilizes them to provide our clients with value-added benefits.
          Recognizing the needs of the growing technological world, our company
          mainly focuses on providing innovative software. Our products are made
          to meet market needs, automates and integrate your business cycle,
          encompass the entire software development lifecycle, from concept
          definition and software architecture to software release and
          maintenance.
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="40px">
      <div class="img1-right-s1"></div>
      <div class="img2-right-s1"></div>
    </div>
  </div>
</section>

<section id="vision" class="paralax-section2">
  <div class="set-s2" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <div class="title-s2">OUR VISION</div>
      <div class="text-left-s2">
        To become the leading-edge technology innovation in Indonesia.
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <div class="title-s2">OUR MISSION</div>
      <div class="text-right-s2">To produce high innovative technologies</div>
      <div class="text-right-s2">
        Achieve the reputation of a high standard, reliable solution
      </div>
      <div class="text-right-s2">
        Delivering quality products at an affordable cost
      </div>
      <div class="text-right-s2">
        To become an indispensable partner to our clients
      </div>
    </div>
  </div>
</section>

<section class="paralax-section3">
  <div class="set-all-s3" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
      <div class="our-value">OUR VALUE</div>
      <div class="title-s3">
        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta
      </div>
      <div
        class="set-all-box"
        fxLayout="row"
        fxLayoutAlign="center stretch"
        fxLayoutGap="30px"
      >
        <div
          class="pt-10"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="20px"
        >
          <div
            class="box-s3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="box-title-s3">Do The Right Thing</div>
            <div class="line"></div>
            <div class="box-content-s3">
              We uphold the highest standards of integrity in ll of our actions
              and decisions.
            </div>
          </div>

          <div
            class="box-s3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="box-title-s3">Find A Better Way</div>
            <div class="line"></div>
            <div class="box-content-s3">
              We develop innovative solutions that leverage diversity and
              satisfy all key stakeholders. Innovation is the cornerstone on
              which we build our success and future moves.
            </div>
          </div>
        </div>
        <div
          class="set-box-s3"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="20px"
        >
          <div
            class="box-s3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="box-title-s3">Evolve & Adapt</div>
            <div class="line"></div>
            <div class="box-content-s3">
              Fast is better than slow, we ensure we meet deadlines in
              discharging our assigned duties so that our clients get our
              service timely without compromising on quality.
            </div>
          </div>
          <div
            class="box-s3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="box-title-s3">Do More with Less</div>
            <div class="line"></div>
            <div class="box-content-s3">
              We ensure our services are valuable, effective nd efficient.
            </div>
          </div>
        </div>
        <div
          class="pt-30 set-box-s4"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="20px"
        >
          <div
            class="box-s3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="box-title-s3">Respect for People</div>
            <div class="line"></div>
            <div class="box-content-s3">
              We value each member of our team and encourage and reward their
              performance.
            </div>
          </div>
          <div
            class="box-s3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="box-title-s3">Flexibility</div>
            <div class="line"></div>
            <div class="box-content-s3">
              We empower our employees in a conducive work environment to
              increase motivation, energy, and work/life balance by making time
              for renewing activities.
            </div>
          </div>
        </div>
        <div
          class="pt-10"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="20px"
        >
          <div
            class="box-s3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="box-title-s3">Team On A Mission</div>
            <div class="line"></div>
            <div class="box-content-s3">
              We collaborate more effectively by building high-trust
              relationships, and believe that only with dedication and team
              spirit can we beat any challenges.
            </div>
          </div>
          <div
            class="box-s3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="box-title-s3">Develop Our People</div>
            <div class="line"></div>
            <div class="box-content-s3">
              We provide an environment that fosterspersonal and professional
              development.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ourteam" class="paralax-section4">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="70px">
    <div
      class="set-leader"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="90px"
    >
      <div
        class="set-img-s4"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="20px"
      >
        <div class="our-team">OUR TEAM</div>
        <div class="the-leader">The Leaders</div>
      </div>
      <div class="img-leader"></div>
      <div
        class="set-leader"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="20px"
      >
        <div class="samuel">Samuel Susanto</div>
        <div class="chief">Chief Executive Officer</div>
        <div class="content-s4">
          Samuel is a Chief Executive Officer of PT Cyberindo Sinergi Sistem,
          where he is in charge of developing, establishing, implementing and
          communicating Cyberindo global strategy. He is also responsible for
          overseeing day-to-day operations and aligning the entire team with
          Cyberindo established practices and long-time goals, making the best
          use of his keen strategical and market knowledge.
        </div>
      </div>
    </div>
    <div class="set-founder" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="50px">
      <div class="founder-set" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="50px">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
          <div class="img-founder-nimbus"></div>
          <div  fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="name-s4 setiawan">Setiawan</div>
            <div class="position setiawan2">Founder Nimbus9</div>
            <div class="position">Chief Operating Officer</div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
          <div class="img-founder-rantai"></div>
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="name-s4 steven">Steven Dharmawan</div>
            <div class="position steven2">Founder Rantai</div>
            <div class="position">Chief Technology Officer</div>
          </div>
        </div>
      </div>
      
      <div class="founder-set" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="50px">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
          <div class="img-co-founder-nimbus"></div>
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="name-s4 hendi">Hendi Ruspendi</div>
            <div class="position hendi2">Co-founder Nimbus9</div>
            <div class="position hendi3">Chief Technology Officer</div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
          <div class="img-co-founder-rantai"></div>
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="name-s4 thomas">Thomas Wilson</div>
            <div class="position thomas2">Co-founder Rantai</div>
            <div class="position thomas3">Chief Financial Officer</div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="img-employee"></div>
    </div>
  </div>
</section>

<app-footer></app-footer>