
  <app-header></app-header> 
  <main>
  <!-- <div
  
    id="block"
    [ngClass]="
      aboutUsPage || careerPage || newsPage || contactUsPage
        ? 'display-none'
        : ''
    "
  >
  <div > -->
    <!-- <app-home *ngIf="homePage"></app-home> -->
  
      <app-home ></app-home>
    <!-- <ng-container *ngIf="aboutUsPage">
    <app-about-us ></app-about-us>
  </ng-container> -->
  <!-- <div *ngIf="careerPage">
    <app-career></app-career>
  </div> -->
  <!-- <div *ngIf="newsPage">
    <app-news></app-news>
  </div>
  <div *ngIf="contactUsPage">
    <app-contact-us></app-contact-us>
  </div> -->

  <!-- </div>
  </div> -->
</main>
  
