<app-header [careertext]="career" (stateNews)="pageNews($event)"></app-header>

<section class="paralax-section1">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div class="content1-s1">
      Positive workspace, great team work, fast learning individu, we are always
      building a dynamic work environment that push each of our employees to
      grow together and compliment each other.
    </div>
    <div
      class="set-img1"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="30px"
    >
      <div class="img-s1">fsbfnfsn mik</div>
      <div fxLayout="column" fxlayoutAlign="start stretch" fxLayoutGap="20px">
        <div class="join-us">JOIN US</div>
        <div class="title-right-s1">
          Be Part of <br />
          Our Vision & Mission
        </div>

        <div class="content2-s1">
          CSS is a team with one vision: to keep innovating and provide solution
          fo people, businesses and companies. We’re a team of unique
          individuals from all walks of life who see each other for more than
          just a skillset. We support each other, inspire each other, and
          celebrate each other. Join us and be part of our vision and mission
        </div>
      </div>
    </div>
  </div>
</section>

<section class="paralax-section2">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
      <div class="the-benefits">THE BENEFITS</div>
      <div class="title-s2">Be The Growing Profesional Individu with Us</div>
      <div class="content-s2">
        CSS support each of the employees to grows the best version of
        themselves by providing the best resource and support.
      </div>
      <div
        class="set-icon"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="170px"
      >
        <div
          class="set-icon1"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="20px"
        >
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="icon1-s2"></div>
            <div class="name-s2">Healthy Work-Life Balance</div>
          </div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="icon1-s2"></div>
            <div class="name-s2">Benefit 4 Lorem Ipsum</div>
          </div>
        </div>
        <div
          class="set-icon1"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="20px"
        >
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="icon1-s2"></div>
            <div class="name-s2">Employee Insurance</div>
          </div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="icon1-s2"></div>
            <div class="name-s2">Benefit 5 Lorem Ipsum</div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="icon1-s2"></div>
            <div class="name-s2">Free Lunch</div>
          </div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="icon1-s2"></div>
            <div class="name-s2">Benefit 6 Lorem Ipsum</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="paralax-section3">
  <div
    class="set-s3"
    fxLayout="row"
    fxLayoutAlign="center stretch"
    fxLayoutGap="50px"
  >
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="current">CURRENT OPEN POSITIONS</div>
        <div class="title-s3">
          Full Stack Developer <span class="text-blue">Full Time</span>
        </div>
        <div class="line"></div>
        <div class="content-s3">
          Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
          sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
          fringilla orci tincidunt. Duis et risus accumsan sem tempus porta nec
          sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
          fringilla orci tincidunt.
        </div>
        <div class="learn-more" routerLink="/career-detail">LEARN MORE</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="title-s3">
          Digital Marketing <span class="text-blue">Full Time</span>
        </div>
        <div class="line"></div>
        <div class="content-s3">
          Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
          sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
          fringilla orci tincidunt. Duis et risus accumsan sem tempus porta nec
          sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
          fringilla orci tincidunt.
        </div>
        <div class="learn-more">LEARN MORE</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="title-s3">
          Account Executive <span class="text-blue">Contract Based</span>
        </div>
        <div class="line"></div>
        <div class="content-s3">
          Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
          sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
          fringilla orci tincidunt. Duis et risus accumsan sem tempus porta nec
          sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
          fringilla orci tincidunt.
        </div>
        <div class="learn-more">LEARN MORE</div>
      </div>
    </div>
    <div class="pt-40">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="title-s3">
            UIUX Designer <span class="text-blue">Full Time</span>
          </div>
          <div class="line-2"></div>
          <div class="content-s3-right">
            Aenean non accumsan ante. Duis et risus accumsan sem tempus porta
            nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
            fringilla orci tincidunt. Duis et risus accumsan sem tempus porta
            nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
            fringilla orci tincidunt.
          </div>
          <div class="learn-more">LEARN MORE</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="title-s3">
            Graphic Designer <span class="text-blue">Full Time</span>
          </div>
          <div class="line-2"></div>
          <div class="content-s3-right">
            Aenean non accumsan ante. Duis et risus accumsan sem tempus porta
            nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
            fringilla orci tincidunt. Duis et risus accumsan sem tempus porta
            nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
            fringilla orci tincidunt.
          </div>
          <div class="learn-more">LEARN MORE</div>
        </div>
      </div>
    </div>
  </div>
  <div class="set-btn" fxLayout="row" fxLayoutAlign="center center">
    <a href="#" target="_blank">
      <button class="btn-learn">LOAD MORE</button>
    </a>
  </div>
</section>

<app-footer></app-footer>
