@media only screen and (min-device-width: 360px) and (max-device-width: 480px) and (orientation: portrait){
    .content1-s1{
        width: 100% !important;
        padding: 0px 30px;
    }
    .set-img1{
        display: block !important;    
    }
    .img-s1{
        width: 68% !important;
        position: relative;
        left: 70px;
    }
    .title-right-s1{
        font-size: 2rem !important;
        position: relative;
        left: 70px;
        line-height: 35px !important;
    }
    .join-us{
        position: relative;
        left: 70px;
        padding-top:30px;
        
    }
    .content2-s1{
        width: 70% !important;
        position: relative;
        left: 70px;
    }
    .the-benefits{
        position: relative;
        left: 30px;
    }
    .paralax-section2{
        position: relative;
        top: -30px;
    }
    .title-s2{
        font-size: 2rem !important;
        padding: 0px 30px;
        width: 100% !important;
        line-height: 35px !important;
        position: relative;
        top: -10px;
    }
    .content-s2{
        width: 100% !important;
        padding: 0px 30px;
        position: relative;
        top: -25px;
    }
    .set-icon{
        display: block !important;
        position: relative;
        left: 30px;
    }
    .set-s3{
        display: block !important;
        padding: 0px 30px;
    }
    .content-s3{
        width: 90vw !important;
        padding-right: 30px;
    }
    .content-s3-right{
        width: 100% !important;
        padding-right: 20px;
    }
    .line{
        width: 120% !important;
    }
    .line-2{
        width: 100% !important;
    }
    .current{
        position: relative;
        left: -2px;
    }
    .set-btn{
        padding-top: 20px;
    }
}

@media only screen and (min-device-width: 400px) and (max-device-width:768px) and (orientation:portrait) {
    .content1-s1{
        width: 540px !important;
        position: relative;
        right: 30px !important;
    }
    .img-s1{
        width: 330px !important;
        padding-left: 50px !important;
    }
    .join-us{
        position: relative;
        top: 10px !important;
    }
    .title-right-s1{
        font-size: 1rem !important;
        line-height: 25px !important;
    }
    .content2-s1{
        position: relative;
        bottom: 15px !important;
        font-size: 12px !important;
        width: 400px !important;
    }
    .title-s2{
        font-size: 2rem !important;
        width: 500px !important;
    }
    .content-s2{
        width: 540px !important;
    }
    .set-icon1{
        margin-right: 50px !important;
    }
    .line{
        width: 300px !important;
    }
    .line-2{
        width: 300px !important;
    }
    .content-s3{
        width: 314px !important;
    }
    .content-s3-right{
        width: 314px !important;
    }
}

@media only screen and (min-device-width: 769px) and (max-device-width:1024px) and (orientation:portrait) {
    .content1-s1{
        width: 540px !important;
        position: relative;
        right: 30px !important;
    }
    .img-s1{
        width: 330px !important;
        padding-left: 50px !important;
    }
    .join-us{
        position: relative;
        top: 10px !important;
    }
    .title-right-s1{
        font-size: 1rem !important;
        line-height: 25px !important;
    }
    .content2-s1{
        position: relative;
        bottom: 15px !important;
        font-size: 12px !important;
        width: 400px !important;
    }
    .title-s2{
        font-size: 2rem !important;
        width: 500px !important;
    }
    .content-s2{
        width: 540px !important;
    }
    .set-icon1{
        margin-right: 50px !important;
    }
    .line{
        width: 300px !important;
    }
    .line-2{
        width: 300px !important;
    }
    .content-s3{
        width: 314px !important;
    }
    .content-s3-right{
        width: 314px !important;
    }
}

@media only screen and (min-device-width: 400px) and (max-device-width:541px) and (orientation:portrait) {
    .title-right-s1{
        font-size: 1.5rem !important;
    }
    .content1-s1{
        width: 100% !important;
        position: relative;
        left: 5px !important;
    }
    .content2-s1{
        width: 350px !important; 
    }
    .img-s1{
        padding-left: 0px !important;
        position: relative;
        left: 70px !important;
        width: 350px !important;
    }
    .set-img1{
        position: relative;
        left: -20px !important;
    }
    .the-benefits {
        position: relative;
        left: 45px !important;
    }
    .title-s2{
        font-size: 1.5rem !important;
        width: 100% !important;
        position: relative;
        left: 15px !important
    }
    .content-s2{
        width: 440px !important;
        position: relative;
        left: 15px !important
    }
    .set-icon {
        position: relative;
        left: 50px !important;
    }

    .line {
        width: 355px !important;
    }
    .content-s3 {
        width: 360px !important;
    }
    .content-s3-right {
        width: 360px !important;
    }
    .line-2 {
        width: 355px !important;
    }
    
}

// section 1
.paralax-section1{
    padding: 40px 0px;
}
.content1-s1{
    font-size: 1rem;
    color: #787878;
    width: 740px;
}
.img-s1{
    content: url(../../assets/img-career/img-s1.png);
    width: 530px;
}
.join-us{
    color: #0082C8;
    font-size: 1rem;
}
.content2-s1{
    color: #787878;
    font-size: 1rem;
    width: 530px;
}
.title-right-s1{
    font-size: 3rem;
    color: #091C34;
    width: 448px;
    line-height: 50px;
}
// end section 1

// section 2
.paralax-section2{
    padding: 40px 0px;
}
.the-benefits{
    font-size: 1rem;
    color: #0082C8;
}
.title-s2{
    font-size: 3rem;
    color: #091C34;
    width: 595px;
    line-height: 50px;
}
.content-s2{
    color: #787878;
    font-size: 1rem;
    width: 740px;
}
.icon1-s2{
    content: url(../../assets/icon-career/icon1-s2.png);
    width: 70px;
    height: 70px;
}
.name-s2{
    font-size: 1rem;
    color: #091C34;
    font-weight: bold;
}
// end section 2

// section 3
.paralax-section3{
    padding: 40px 0px;
}
.current{
    color: #091C34;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom:10px;
    position: relative;
    right: 10px;
}
.title-s3{
    color: #091C34;
    font-size: 1rem;
    font-weight: bold;
}
.text-blue{
    color: #0082C8;
}
.line{
    border: 1px solid #D6D6D6;
    opacity: 1;
    width: 530px;
    height: 0px;
}
.line-2{
    border: 1px solid #D6D6D6;
    opacity: 1;
    width: 530px;
    height: 0px;
}
.content-s3{
    color: #787878;
    font-size: 1rem;
    width: 514px;
}
.content-s3-right{
    color: #787878;
    font-size: 1rem;
    width: 514px;
}
.learn-more{
    color: #0082C8;
    font-size: 0.75rem;
    cursor: pointer;
    text-decoration: underline;
}
.btn-learn{
    width: 158px;
    height: 42px;
    background-color: #FFFFFF;
    border: 1px solid #0082C8;
    border-radius: 4px;
    color: #0082C8;
    opacity: 1;
    font-size: 0.6875rem;
}
// end section 3
