<app-header [newstext]="newsHeader"></app-header>

<section class="paralax-news">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="row" fxLayoutAlign="start" class="img-b">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <ng-container>
          <div class="">HIGHLIGHTS</div>
          <div class="">00 October 2021</div>
          <div class="">
            This is Highlight News Title Lorem Ipsum Dolor Sit Amet
          </div>
          <div class="">#Technology #Finance #hashtag3 #hashtag4</div>
          <div class="dot-container">
            <div class="single-dot" (click)="click1()"></div>
            <div class="single-dot" (click)="click2()"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section class="paralax-section1 slider1">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div
      class="set-line"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <div class="news-update">NEWS UPDATE</div>
      <div class="line"></div>
    </div>
    <div
      class="set-s2"
      fxLayout="row"
      fxLayoutAlign="start stretch"
      fxLayoutGap="20px"
    >
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="img1-s2"></div>
        <div class="date">00 OCTOBER 2021</div>
        <div class="title-s2">
          This Is News Title Aenean non accumsan ante. Duis et risus accumsa
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="img1-s2"></div>
        <div class="date">00 OCTOBER 2021</div>
        <div class="title-s2">
          This Is News Title Aenean non accumsan ante. Duis et risus accumsa
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="img1-s2"></div>
        <div class="date">00 OCTOBER 2021</div>
        <div class="title-s2">
          This Is News Title Aenean non accumsan ante. Duis et risus accumsa
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="img1-s2"></div>
        <div class="date">00 OCTOBER 2021</div>
        <div class="title-s2">
          This Is News Title Aenean non accumsan ante. Duis et risus accumsa
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
        </div>
      </div>
    </div>

    <div
      class="set-s2"
      fxLayout="row"
      fxLayoutAlign="start stretch"
      fxLayoutGap="20px"
    >
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="img1-s2"></div>
        <div class="date">00 OCTOBER 2021</div>
        <div class="title-s2">
          This Is News Title Aenean non accumsan ante. Duis et risus accumsa
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="img1-s2"></div>
        <div class="date">00 OCTOBER 2021</div>
        <div class="title-s2">
          This Is News Title Aenean non accumsan ante. Duis et risus accumsa
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="img1-s2"></div>
        <div class="date">00 OCTOBER 2021</div>
        <div class="title-s2">
          This Is News Title Aenean non accumsan ante. Duis et risus accumsa
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div class="img1-s2"></div>
        <div class="date">00 OCTOBER 2021</div>
        <div class="title-s2">
          This Is News Title Aenean non accumsan ante. Duis et risus accumsa
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
          <div class="hastag">#hashtag</div>
        </div>
      </div>
    </div>
    <div class="set-btn" fxLayout="row" fxLayoutAlign="center center">
      <a href="#" target="_blank">
        <button class="btn-learn">LOAD MORE</button>
      </a>
    </div>
  </div>
</section>

<!-- section slider -->
<section class="paralax-section2 slider2">
  <div
    class="set-slider"
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="20px"
  >
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <div
        fxLayout="column"
        fxLayoutAlign="end stretch"
        fxLayoutGap="10px"
        class="img-a"
      >
        <div class="set-text-img">
          <div class="date-img">00 October 2021</div>
          <div class="content-img">
            This Is News Title Aenean non accumsan ante. Duis et risus accumsa
          </div>
        </div>
      </div>
      <div class="content-left-slider">
        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
        sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
        fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus
        luctus maximus vestibulum. Donec et enim vitae tellus auctor ornare.
        Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        Praesent commodo consequat pharetra.Duis et risus accumsan sem tempus
        porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti.
        Aliquam fringilla orci tincidunt.
      </div>
      <div class="title-left-slider">Sub Title Lorem Ipsum</div>
      <div class="content-left-slider">
        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
        sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
        fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus
        luctus maximus vestibulum. Donec et enim vitae tellus auctor ornare.
        Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        Praesent commodo consequat pharetra.Duis et risus accumsan sem tempus
        porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti.
        Aliquam fringilla orci tincidunt.
      </div>
      <div class="content-left-slider">
        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
        sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
        fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus
        luctus maximus vestibulum. Donec et enim vitae tellus auctor ornare.
        Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        Praesent commodo consequat pharetra.Duis et risus accumsan sem tempus
        porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti.
        Aliquam fringilla orci tincidunt.
      </div>
      <div class="title-left-slider">Sub Title Lorem Ipsum</div>
      <div class="content-left-slider">
        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
        sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
        fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus
        luctus maximus vestibulum. Donec et enim vitae tellus auctor ornare.
        Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        Praesent commodo consequat pharetra.Duis et risus accumsan sem tempus
        porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti.
        Aliquam fringilla orci tincidunt.
      </div>
      <div class="content-left-slider">
        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
        sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
        fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus
        luctus maximus vestibulum. Donec et enim vitae tellus auctor ornare.
        Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        Praesent commodo consequat pharetra.Duis et risus accumsan sem tempus
        porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti.
        Aliquam fringilla orci tincidunt.
      </div>
      <div class="content-left-slider">
        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
        sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
        fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus
        luctus maximus vestibulum. Donec et enim vitae tellus auctor ornare.
        Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        Praesent commodo consequat pharetra.Duis et risus accumsan sem tempus
        porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti.
        Aliquam fringilla orci tincidunt. Aenean non accumsan ante. Duis et
        risus accumsan sem tempus porta nec sit amet est. Sed ut euismod quam.
        Suspendisse potenti. Aliquam fringilla orci tincidunt, ullamcorper erat
        in, malesuada metus. Vivamus luctus maximus vestibulum. Donec et enim
        vitae tellus auctor ornare. Aenean leo diam, feugiat sed nulla sed,
        consequat venenatis est. Praesent commodo consequat pharetra.Duis et
        risus accumsan sem tempus porta nec sit amet est. Sed ut euismod quam.
        Suspendisse potenti. Aliquam fringilla orci tincidunt.
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div>#Technology</div>
        <div>#Finance</div>
        <div>#hashtag3</div>
        <div>#hashtag4</div>
      </div>
    </div>
    <div
      class="set-other"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="10px"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="other-news">OTHER NEWS</div>
        <div class="line-slider1"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-slider"></div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="date-slider">00 OCTOBER 2021</div>
            <div class="title-right-slider">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line-slider2"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-slider"></div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="date-slider">00 OCTOBER 2021</div>
            <div class="title-right-slider">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line-slider2"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-slider"></div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="date-slider">00 OCTOBER 2021</div>
            <div class="title-right-slider">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line-slider2"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-slider"></div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="date-slider">00 OCTOBER 2021</div>
            <div class="title-right-slider">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line-slider2"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-slider"></div>
          <div
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="10px"
          >
            <div class="date-slider">00 OCTOBER 2021</div>
            <div class="title-right-slider">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line-slider2"></div>
      </div>

      <div class="set-last-btn" fxLayout="row" fxLayoutAlign="end end">
        <a href="#" target="_blank">
          <button class="btn-see-all">SEE ALL NEWS</button>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end section slider -->

<app-footer></app-footer>
