<section>
  <div class="header" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="icon-header-css"></div>
    <div
      class="header-right"
      fxLayout="row"
      fxLayoutAlign="start stretch"
      fxLayoutGap="60px"
    >
      <div>
        <div routerLink="/home">Home</div>
      </div>
      <div>Our Products</div>
      <div>
        <div routerLink="/about-us">About Us</div>
      </div>
      <div>
        <div routerLink="/career">Career</div>
      </div>
      <div>
        <div routerLink="/news">News</div>
      </div>
      <div>
        <div routerLink="/contact-us">Contact Us</div>
      </div>
      <div>en</div>
    </div>
  </div>
</section>
