<app-header></app-header>

<section class="paralax-section1">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div
      class="set-s1"
      fxLayout="row"
      fxLayoutAlign="center stretch"
      fxLayoutGap="100px"
    >
      <div class="title-s1">JOB DESCRIPTION</div>
      <div class="content-satu">
        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
        sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam
        fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus
        luctus maximus vestibulum. Donec et enim vitae tellus auctor ornare.
        Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        Praesent commodo consequat pharetra.Duis et risus accumsan sem tempus
        porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti.
        Aliquam fringilla orci tincidunt.
      </div>
    </div>

    <div
      class="set-s1"
      fxLayout="row"
      fxLayoutAlign="center stretch"
      fxLayoutGap="100px"
    >
      <div class="title-s1">RESPONSIBILITIES</div>
      <div
        class="content-dua"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap=""
      >
        <li>
          Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec
          sit amet est.
        </li>
        <li>
          Sed ut euismod quam. Suspendisse potenti. Aliquam fringilla orci
          tincidunt,
        </li>
        <li>
          ullamcorper erat in, malesuada metus. Vivamus luctus maximus
          vestibulum. Donec et enim vitae tellus auctor ornare.
        </li>
        <li>
          Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        </li>
        <li>Praesent commodo consequat pharetra.</li>
        <li>
          Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut
          euismod quam.
        </li>
        <li>Suspendisse potenti. Aliquam fringilla orci tincidunt.</li>
      </div>
    </div>

    <div
      class="set-s1"
      fxLayout="row"
      fxLayoutAlign="center stretch"
      fxLayoutGap="100px"
    >
      <div class="title-s1">QUALIFICATION</div>
      <div
        class="content-tiga"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap=""
      >
      <li>Praesent commodo consequat pharetra .</li>
      <li>
        Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut
        euismod quam.
      </li>
      <li>
        Suspendisse potenti. Aliquam fringilla orci tincidunt. Aenean non
        accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet
        est.
      </li>
      <li>
        Sed ut euismod quam.Suspendisse potenti. Aliquam fringilla orci
        tincidunt.
      </li>
      <li>
        Ullamcorper erat in, malesuada metus. Vivamus luctus maximus
        vestibulum. Donec et enim vitae tellus auctor ornare.
      </li>
      <li>
        Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
      </li>
      <li>Praesent commodo consequat pharetra</li>
      <li>
        Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut
        euismod quam. suspendisse potenti. Aliquam fringilla orci tincidunt
      </li>
      </div>
    </div>

    <!-- <div
      class="set-s1"
      fxLayout="row"
      fxLayoutAlign="start stretch"
      fxLayoutGap="100px"
    >
      <div class="qualification">
        <div class="title-s1">QUALIFICATION</div>
      </div>
      <div
        class="content-tiga"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap=""
      >
        <li>Praesent commodo consequat pharetra .</li>
        <li>
          Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut
          euismod quam.
        </li>
        <li>
          Suspendisse potenti. Aliquam fringilla orci tincidunt. Aenean non
          accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet
          est.
        </li>
        <li>
          Sed ut euismod quam.Suspendisse potenti. Aliquam fringilla orci
          tincidunt.
        </li>
        <li>
          Ullamcorper erat in, malesuada metus. Vivamus luctus maximus
          vestibulum. Donec et enim vitae tellus auctor ornare.
        </li>
        <li>
          Aenean leo diam, feugiat sed nulla sed, consequat venenatis est.
        </li>
        <li>Praesent commodo consequat pharetra</li>
        <li>
          Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut
          euismod quam. suspendisse potenti. Aliquam fringilla orci tincidunt
        </li>
      </div>
    </div> -->
  </div>
</section>

<section class="paralax-section2">
  <div class="set-apply" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="150px">
    <div>
      <div class="apply-now">APPLY NOW</div>
    </div>
    <div class="set-input" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <div fxlayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="30px" class="dis-block">
        <label>Complete Name*:</label>
        <input class="complete-name" type="text" />
      </div>

      <div fxlayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="30px" class="dis-block">
        <label>Email*:</label>
        <input class="email" type="email" />
      </div>

      <div fxlayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="30px" class="dis-block">
        <label>Phone*:</label>
        <input class="phone" type="number" />
      </div>

      <div fxlayout="row" fxLayoutAlign="start center" fxLayoutGap="85px" class="dis-block">
        <label>CV or Resume</label>
        <input class="cv" type="file" placeholder="upload" />
      </div>

      <div class="line"></div>

      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <label>LinkedIn Profile:</label>
        <input class="linked-in" type="text" />
      </div>

      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <label>Website or Portfolio:</label>
        <input class="website" type="text" />
      </div>

      <div class="line"></div>

      <div
        class="dis-block"
        fxLayout="row"
        fxlayoutAlign="start center"
        fxLayoutGap="20px"
      >
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <label>What is your expected salary?</label>
          <input class="salary" type="text" />
        </div>

        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <label>When will you be available to join?</label>
          <input class="join" type="text" />
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <input type="checkbox" class="checkbox" />
        <label>Agree to be contacted through email or phone</label>
      </div>

      <div class="set-btn">
        <a href="#" target="_blank">
          <button class="btn-submit">SUBMIT APPLICATION</button>
        </a>
      </div>
    </div>
    
  </div>
</section>

<app-footer></app-footer>
