<!-- <app-header></app-header>  -->

<section class="paralax-section2">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
        <div class="title-s2">We Provide Solution</div>
        <div class="content-s2">
          In this era when digital is dominating the aspects of life, we strive
          to see and understand what are things that can be provide to help
          people, businesses and company. We provide digital solution that we
          believe will evectively helps people, businesses and companies to keep
          grow.
        </div>
      </div>
      <div class="set-box-s2" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <div
          class="pt-10"
          fxLayout="column"
          fxLayoutAlign="start center"
          fxLayoutGap="30px"
        >
          <div class="box1-s2" fxLayout="row" fxLayoutGap="10px">
            <div class="ellipse-white">
              <div class="icon-text">icon</div>
            </div>
            <div class="text-box-white">Reduces IT Cost</div>
          </div>
          <div class="box2-s2" fxLayout="row" fxLayoutGap="10px">
            <div class="ellipse-blue1">
              <div class="icon-text">icon</div>
            </div>
            <div class="text-box">Run Business from Everywhere</div>
          </div>
        </div>
        <div
          class="pt-50"
          fxLayout="column"
          fxLayoutAlign="start center"
          fxLayoutGap="30px"
        >
          <div class="box3-s2" fxLayout="row" fxLayoutGap="10px">
            <div class="ellipse-blue2">
              <div class="icon-text">icon</div>
            </div>
            <div class="text-box">Single System Drives Productivity</div>
          </div>
          <div class="box4-s2" fxLayout="row" fxLayoutGap="10px">
            <div class="ellipse-blue3">
              <div class="icon-text">icon</div>
            </div>
            <div class="text-box">Customable and Adaptable</div>
          </div>
        </div>
        <div class="set-box5-s2" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
          <div class="box5-s2" fxLayout="row" fxLayoutGap="10px">
            <div class="ellipse-blue4">
              <div class="icon-text">icon</div>
            </div>
            <div class="text-box">Real-Time Visibility for Everyone</div>
          </div>
          <div class="box6-s2" fxLayout="row" fxLayoutGap="10px">
            <div class="ellipse-blue5">
              <div class="icon-text">icon</div>
            </div>
            <div class="text-box">Designed to Meet Specific Industry Needs</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="paralax-section3">
  <div fxLayout="column" fxlayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
        <div class="title-s3">Our Products</div>
        <div class="title-small-s3">
          We are commited to provide digital solution with our best products.
        </div>
      </div>
        <div class="set-box-s3" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="20px">
          <div class="box1-s3">
            <div
              fxLayout="column"
              fxLayoutAlign="center stretch"
              fxLayoutGap="20px"
            >
              <div
                fxLayout="column"
                fxLayoutAlign="start stretch"
                fxLayoutGap="10px"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-between start"
                  fxLayoutGap="10px"
                >
                  <div
                    fxLayout="column"
                    fxLayoutAlign="space-between none"
                    fxLayoutGap="30px"
                  >
                    <div class="logo-rantai-s3"></div>
                    <div class="title-content1">
                      An All in one digital solution for business owners to run
                      their business. Control transaction from all online
                      marketplace, watch the growth of your businesses through
                      desktop dashboard and mobile application.
                    </div>
                    <div
                      fxLayout="row"
                      fxLayoutAlign="center center"
                      fxLayoutGap="10px"
                    >
                      <a href="#" target="_blank">
                        <button class="btn-learn-blue">LEARN MORE</button>
                      </a>
                      <a
                        href="https://play.google.com/store/apps/details?id=com.css.rantai"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <div class="logo-google"></div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="hp-rantai"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box2-s3">
            <div
              fxLayout="column"
              fxLayoutAlign="center stretch"
              fxLayoutGap="20px"
            >
              <div
                fxLayout="column"
                fxLayoutAlign="start stretch"
                fxLayoutGap="10px"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-between start"
                  fxLayoutGap="10px"
                >
                  <div
                    fxLayout="column"
                    fxLayoutAlign="space-between none"
                    fxLayoutGap="30px"
                  >
                    <div class="logo-nimbus-s3"></div>
                    <div class="title-content2">
                      A platform for companies on property management. from
                      operational to inquiries. Nimbus9 provides all in one
                      solution to help companies manage their property in more
                      effective and efficient way.
                    </div>
                    <div
                      fxLayout="row"
                      fxLayoutAlign="center center"
                      fxLayoutGap="10px"
                    >
                      <a href="#" target="_blank">
                        <button class="btn-learn-white">LEARN MORE</button>
                      </a>
                      <a
                        href="https://play.google.com/store/apps/details?id=com.css.rantai"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <div class="logo-google"></div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="hp-nimbus"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="paralax-section4">
  <div class="set-s4" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="img-left-s4"></div>
    <div
      class="content-center-s4"
      fxLayout="column"
      fxLayoutAlign="start"
      fxLayoutGap="30px"
    >
      <div class="about-us">ABOUT US</div>
      <div class="title-s4">
        To Become The Leading-edge Technology Innovation in Indonesia
      </div>
      <div class="content-s4">
        Incepted in 2019, PT Cyberindo Sinergi Sistem is a Software Development
        and Information Technology providing competitively priced to companies
        in Indonesia. PT Cyberindo Sinergi Sistem providing your company with a
        mobile and web-based solution to integrate its core business processes.
        We have different products to meet your requirements. We provide the
        optimum and broad solutions for your organization.
      </div>
      <div class="set-btn-s4" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="70px">
        <div>
          <a href="#" target="_blank">
            <button class="btn-s4">MORE ABOUT US</button>
          </a>
        </div>
        <div class="img-center-s4"></div>
      </div>
    </div>
    <div class="img-right-s4"></div>
  </div>
</section>

<section class="paralax-section5">
  <div class="set-s5" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="20px">
    <div class="set-box1-s5" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div class="title-s5">HIGHLIGHTS</div>
      <div class="img1-left-s5"></div>
      <div class="date">00 OCTOBER 2021</div>
      <div class="title-left-s5">
        This Is News Title Aenean non accumsan ante. Duis et risus accumsa
      </div>
      <div class="img1-left-s5"></div>
      <div class="date">00 OCTOBER 2021</div>
      <div class="title-left-s5">
        This Is News Title Aenean non accumsan ante. Duis et risus accumsa
      </div>
    </div>
    <div class="set-news-s5" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div class="title-s5">NEWS UPDATE</div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-s5"></div>
          <div>
            <div class="date">00 OCTOBER 2021</div>
            <div class="title-right-s5">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-s5"></div>
          <div>
            <div class="date">00 OCTOBER 2021</div>
            <div class="title-right-s5">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-s5"></div>
          <div>
            <div class="date">00 OCTOBER 2021</div>
            <div class="title-right-s5">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line"></div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div class="img-right-s5"></div>
          <div>
            <div class="date">00 OCTOBER 2021</div>
            <div class="title-right-s5">
              This Is News Title Aenean non accumsan ante. Duis et risus accumsa
            </div>
          </div>
        </div>
        <div class="line"></div>
      </div>

      <div class="set-btn-s5" fxLayout="row" fxLayoutAlign="end stretch">
        <a href="#" target="_blank">
          <button class="btn-s5">SEE ALL</button>
        </a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
